<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUMC Countdown Timer</title>

<style>
    body {
        background-color: black;
        color: white;
        font-family: Arial;
        font-size: 25.5vw;
        text-align: center;
    }

</style>
</head>
<body>

<div id="remainingTime">
{{ time_remaining }}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('joined', {data: 'I\'m connected!'});
    });

    setInterval(function() {
        socket.emit('time');
    }, 1000)

    socket.on('time_update', function(data) {
        document.getElementById("remainingTime").innerHTML = data;
    });
</script>
</body>
</html>